<div data-controller='show-hide'>
  <div data-controller="sortable paralax-reset">
    <div class="slider-container" id="slider-container-itinerary">
      <div class="slider" data-show-hide-target="slider">

        <div class="slidee container text-center">
          <div class="organise-header">
            <%= link_to trip_dayts_path(@trip) do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
            <h1>Organise Your Trip</h1>
            <p>DRAG to change your schedule</p>
          </div>

          <%= render "shared/organise", trip: @trip %>
        </div>

        <div class="slidee slidee-map">
          <%= render "shared/hidden_mapbox" %>
        </div>

      </div>
    </div>
    <footer style="position: fixed; bottom: 0; height: 106px; display: grid; grid-template-columns: 1fr 1fr;">
        <button class='btn map-btn btn-width map_organise_trip' data-action='click->show-hide#toggle'>Map</button>
        <%# link_to "Confirm", trip_path(@trip), class: "btn next-btn btn-width" %>
      <%= form_with url: update_all_trip_dayts_path(@trip), method: :patch, id: "order-calendar-form" do |f| %>
        <% @trip_dayts.order(:order).each do |dayt| %>
          <%= f.text_field "dayt_ids[]", id: nil, data: { sortable_target: "input"}, value: dayt.id, class: "opacity-0 pe-none" %>
        <% end %>
        <%= f.submit class: "btn next-btn btn-width", id: "dayt-order-form-btn", style:"position: absolute; top: 9px; right: -32%; border: none; height: 66px" %>
      <% end %>
    </footer>
    <%# <footer> %>
      <%# <button class='btn map-btn btn-width' data-action='click->show-hide#toggle'>Map</button> %>
      <%# link_to "Confirm", trip_path(@trip), class: "btn next-btn btn-width" %>
    <%# </footer> %>
  </div>

</div>
