<div class= "preferences">
  <div class='container'>
    <h1>Preferences</h1>
    <div class='pre-form'>
      <%= simple_form_for(@trip) do |f| %>
        <%= f.input :title %>

        <h2>Where?</h2>
        <%= f.input :location %>

        <h2>When?</h2>
        <%= f.input :date %>

        <h2>How Far?</h2>
        <%= f.input :distance %>

        <p>TAGS:</p>
        <%= render 'layouts/tags' %>

        <h3>125 Dayts found</h3>
        <footer>
          <%= f.submit class: "full-btn" %>
        </footer>

        <% end %>
        </div>
    </div>
  </div>
</div>
