<div>
  <div class="slider-container" data-controller="show-hide">
    <div class="slider" data-show-hide-target="slider">

      <div class="slidee container">
          <div class="organise-header">
            <%= link_to itinerary_path(@trip) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <h1 class='pt-3 head-trip' style='text-center'><%= @trip.title %></h1>
          </div>
          <div data-show-hide-target='container'>
          <div class="row justify-content-end" id="calendar-container">
          <div class="calendar col-2 d-flex flex-column justify-content-between align-items-center">
            <p>8am</p>
            <p>9am</p>
            <p>10am</p>
            <p>11am</p>
            <p>12pm</p>
            <p>1pm</p>
            <p>2pm</p>
            <p>3pm</p>
            <p>4pm</p>
            <p>5pm</p>
          </div>


          <div class="col-10">
            <ul id="hello-list" data-controller='animate' class="h-100 a-style ">
              <% @trip_dayts.each do |trip_dayt| %>
                <%= link_to dayt_path(trip_dayt.dayt) do %>
                <li class=" my-2 card-height-<%= ((trip_dayt.dayt.duration / 10) * 100).to_i %>">
                  <div style="height: 100%">
                    <div class="dayt-info card justify-content-around text-center m-1 p-1 lock-card">
                      <h2><%= trip_dayt.dayt.title %></h2>
                      <p class="dayt-details p-1">
                        <i class="fa-solid fa-location-dot"></i>
                        <%= trip_dayt.dayt.location %>
                      </p>
                      <%# <div class="location-pos">
                      </div> %>




                      <%# <div class="text-center">
                      </div> %>
                    </div>
                  </div>
                </li>
                <% end %>
              <% end %>


              <%# <li>
                <div class="card align-items-center">
                  <div class="card-body">
                    <p><i class="fa-solid fa-grip-dots-vertical"></i>hello world</p>
                  </div>
                </div>
              </li> %>
            </ul>
          </div>
        </div>

      </div>

      <div class="slidee slidee-map">
        <%= render "shared/hidden_mapbox" %>
      </div>

    </div>

  </div>

  <footer>
    <button class='btn map-btn btn-width' data-action='click->show-hide#toggle'>Map</button>
    <%= button_to "Review", new_trip_mass_review_path(@trip), class:'btn next-btn', method: :get %>
  </footer>
</div>
