<%= link_to dayt_path(dayt) do %>
  <h2><%= dayt.title %></h2>
  <div class="text_cards">
    <p><i class="fa-solid fa-location-dot">&#8194;</i><%= dayt.location %></p>
    <div class="d-flex">
      <div class="w-50">
        <i class="fa-solid fa-clock">&#8194;</i><%= dayt.duration.to_i %>&#8194;hours
      </div>
      <div class="w-50">
        <i class="fa-solid fa-dollar-sign">&#8194;</i><%= dayt.price > 0 ? "#{dayt.price.to_i} per person" : 'Free' %>&#8194;
      </div>
    </div>
  </div>
<% end %>
