<<<<<<< HEAD
<<<<<<< Updated upstream
<div class="row justify-content-end">
=======
<div class="row justify-content-end" id="calendar-container" data-controller="sortable" >
>>>>>>> Stashed changes
=======
<div class="row justify-content-end" id="calendar-container">
>>>>>>> be4504b699166998c5aed331ecee6fb1919d4b3a
  <div class="calendar col-2 d-flex flex-column justify-content-around">
    <p>9 am</p>
    <p>10 am</p>
    <p>11 am</p>
    <p>12 pm</p>
    <p>1 pm</p>
    <p>2 pm</p>
    <p>3 pm</p>
    <p>4 pm</p>
    <p>5 pm</p>
  </div>

  <div class="col-10">
<<<<<<< HEAD
<<<<<<< Updated upstream
    <ul id="hello-list">
      <% @trip.dayts.each do |dayt| %>
        <li class="organise ">
          <div>
            <div class="dayt-info card justify-content-around text-center m-1 p-1">
=======
    <ul id="hello-list" class="h-100">
      <% trip.dayts.each do |dayt| %>
        <li class="organise card-height-<%= ((dayt.duration / 10) * 100).to_i %>">
          <div style="height: 100%">
            <div class="dayt-info card justify-content-around text-center m-1 p-1 lock-card">
>>>>>>> be4504b699166998c5aed331ecee6fb1919d4b3a
              <h2><%= dayt.title %></h2>
=======
    <ul data-sortable-target="list" class="h-100" id="hello-list">
      <% trip.trip_dayts.each_with_index do |trip_dayt, index| %>
        <li data-sortable-target="card" data-index-value=<%= index %> class="organise card-height-<%= ((trip_dayt.dayt.duration / 10) * 100).to_i %>">
          <div style="height: 100%">
            <div class="dayt-info card justify-content-around text-center m-1 p-1 lock-card">
              <h2><%= trip_dayt.dayt.title %></h2>
>>>>>>> Stashed changes
              <p class="d-flex dayt-details p-1">
                <i class="fa-solid fa-location-dot"></i>
                <%= trip_dayt.dayt.location %>
              </p>
              <div class="location-pos">
              </div>
              <%# <p class="d-flex dayt-time p-1">
              <i class="fa-solid fa-clock"></i><%= dayt.duration %>
            </div>
          </div>
        </li>
      <% end %>




      <%# <li>
        <div class="card align-items-center">
          <div class="card-body">
            <p><i class="fa-solid fa-grip-dots-vertical"></i>hello world</p>
          </div>
        </div>
      </li> %>
    </ul>
  </div>
  <%= form_with url: update_all_trip_dayts_path(trip), method: :patch, class: "my-5" do |f| %>
    <% trip.dayts.each_with_index do |dayt, index| %>
      <%= f.text_field "dayt_ids[]", id: nil, placeholder: "Email Address", data: { sortable_target: "input"}, value: index %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
