<div class="row justify-content-end" id="calendar-container">

  <div class="calendar col-2 d-flex flex-column justify-content-around">
    <p>9 am</p>
    <p>10 am</p>
    <p>11 am</p>
    <p>12 pm</p>
    <p>1 pm</p>
    <p>2 pm</p>
    <p>3 pm</p>
    <p>4 pm</p>
    <p>5 pm</p>
  </div>

  <div class="col-10">
    <ul data-sortable-target="list" class="h-100" id="hello-list">
      <% trip.trip_dayts.each_with_index do |trip_dayt, index| %>
        <li data-sortable-target="card" data-index-value=<%= index %> class="organise card-height-<%= ((trip_dayt.dayt.duration / 10) * 100).to_i %>">
          <div style="height: 100%">
            <div class="dayt-info card justify-content-around text-center m-1 p-1 lock-card">
              <h2><%= trip_dayt.dayt.title %></h2>
              <p class="d-flex dayt-details p-1">
                <i class="fa-solid fa-location-dot"></i>
                <%= trip_dayt.dayt.location %>
              </p>
              <div class="location-pos">
              </div>
              <%# <p class="d-flex dayt-time p-1">
              <i class="fa-solid fa-clock"></i><%= dayt.duration %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
