<div class='container review-form'>
  <div class='title-head'>
    <h1>Did you have a good day?</h1>
  </div>
    <%= simple_form_for @trip, url:trip_mass_reviews_path(@trip), method: :post do |f|%>

  <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-touch="false">
            <div class="carousel-inner">
            <% @index = 0 %>
              <%= f.simple_fields_for :reviews do |fr|%>
                <div class="carousel-item <%= "active" if @index.zero? %>">
                <% @index += 1 %>
                  <div class= review-box>
                    <div class="card-blue">
                      <div class="text_cards">
                          <%= cl_image_tag fr.object.dayt.photos.first.key %>
                          <h1><%= fr.object.dayt.title %></h2>
                            <div class="rating">
                              <%= fr.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false do |b| %>
                                <%= b.radio_button + b.label {'☆'}%>
                              <% end %>
                            </div>
                          <h2>Was it busy?</h2>
                          <%= fr.input :busy, as: :range, collection: 1..10, input_html: {class:"form-range busy-slide"}, label: false%>
                          <h2>Would you recommend this?</h2>
                          <div class=radiobtn>
                            <%= fr.collection_radio_buttons :recommended, [[true,'Yes'], [false, 'No']], :first, :last %>
                          </div>
                          <%= fr.hidden_field :trip_dayt_id, value: fr.object.trip_dayt.id %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>







 <footer>
    <%= f.submit "Submit your Review", class: "btn next-btn" %>
    <% end %>
  </footer>
</div>
