
<div class='container py-3 expanded'>

  <% if dayt.photos.size == 1 %>
      <img class="d-block w-100 expanded-photo" src="<%= cl_image_path dayt.photos.first.key %>" alt="photo">

  <% elsif dayt.photos.size > 1 %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% dayt.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>">
              <%= cl_image_tag photo.key, class: "d-block w-100 expanded-photo", height: 400, width: 400, crop: :fill %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
  <% end %>

  <div class='pt-3 title-expanded' >
    <%= cl_image_tag dayt.user.avatar.key, class: 'avatar-dayt' %>

<%# Display TAGS ===> %>
  <p>
    <% dayt.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag), class: "badge #{tag_class(tag)}" %>
    <% end %>
  </p>


    <h1 class='exp-title'><%= dayt.title %></h1>
    <% if @dayt.reviews.count.zero? %>
      <p>No Rating</p>
    <% else %>
      <% @dayt.reviews.average(:rating).round.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    <% end %>
  </div>
  <div class="content-expanded mx-3">
    <div class='d-flex my-3 align-items-center'>
        <div>
        <i class="me-3 fa-solid fa-location-dot"></i>
        </div>
      <%= dayt.location %>
    </div>
    <div class='d-flex my-3'>
      <div class='d-flex align-items-center w-50'>
          <div >
          <i class="me-3 fa-solid fa-clock"></i>
          </div>
        <%= dayt.duration.to_i %> h
      </div>
      <% if opening_time && closing_time %>
      <div class='d-flex align-items-center w-50'>
        <div>
        <i class="me-3 fa-solid fa-calendar"></i>
        </div>
        <%= opening_time%> - <%= closing_time %>
      </div>
      <% end %>
    </div>

    <div class="d-flex">
      <div class='d-flex w-50'>
          <div>
          <i class="me-3 ms-1 fa-solid fa-dollar"></i>
          </div>
        <%= dayt.price.to_i > 0 ? dayt.price.to_i : 'Free' %>
      </div>
      <%= link_to 'Book Now', dayt.booking_url, class: 'btn w-50' if dayt.booking_url %>
    </div>

    <div class="py-4 text-expanded">
    <%= dayt.content %>
    </div>
  </div>


  <%= render 'mapbox' %>
</div>
