<div class='mt-3 expanded'>
  <% if dayt.photos.size == 1 %>
      <img class="d-block w-100 expanded-photo" src="<%= cl_image_path dayt.photos.first.key %>" alt="photo" >

  <% elsif dayt.photos.size > 1 %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% dayt.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>">
              <%= cl_image_tag photo.key, class: "d-block w-100 expanded-photo", height: 400, width: 400, crop: :fill %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
  <% end %>
</div>
<div class='pt-3' >
  <h1 class='exp-title'><%= dayt.title %></h1>
</div>

<div class='d-flex mt-2 mb-2 align-items-center'>
    <div class=>
    <i class="m-3 fa-solid fa-location-dot"></i>
    </div>
  <%= dayt.location %>
</div>
<div class='d-flex mt-2 mb-2 align-items-center'>
    <div class=>
    <i class="m-3 fa-solid fa-clock"></i>
    </div>
  <%= dayt.duration.to_i %>
</div>
<div class='d-flex mt-2 mb-2 align-items-center'>
    <div class=>
    <i class="ms-3 fa-solid fa-dollar"></i>
    </div>
  <%= dayt.price.to_i %>
</div>
<div>
<%= dayt.content %>
</div>
