<%= simple_form_for dayt do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :location,
            input_html: { data: { address_target: "location" }, class: "d-none" },
            wrapper_html: { data: { controller: "address", address_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
  <%= f.input :duration %>
  <%= f.input :price %>

  <div class="mb-3 optional dayt_opening_time">
    <label for="opening_time" class="form-label">Opening time</label>
    <select class="form-control optional" name="opening_time" id="opening_time">
      <option value="">Select</option>
      <option value="1">1am</option>
      <option value="2">2am</option>
      <option value="3">3am</option>
      <option value="4">4am</option>
      <option value="5">5am</option>
      <option value="6">6am</option>
      <option value="7">7am</option>
      <option value="8">8am</option>
      <option value="9">9am</option>
      <option value="10">10am</option>
      <option value="11">11am</option>
      <option value="12">12pm</option>
      <option value="13">1pm</option>
      <option value="14">2pm</option>
      <option value="15">3pm</option>
      <option value="16">4pm</option>
      <option value="17">5pm</option>
      <option value="18">6pm</option>
      <option value="19">7pm</option>
      <option value="20">8pm</option>
      <option value="21">9pm</option>
      <option value="22">10pm</option>
      <option value="23">11pm</option>
      <option value="24">12am</option>
    </select>
  </div>

  <div class="mb-3 optional dayt_closing_time">
    <label for="closing_time" class="form-label">Closing time</label>
    <select class="form-control optional" name="closing_time" id="closing_time">
      <option value="">Select</option>
      <option value="1">1am</option>
      <option value="2">2am</option>
      <option value="3">3am</option>
      <option value="4">4am</option>
      <option value="5">5am</option>
      <option value="6">6am</option>
      <option value="7">7am</option>
      <option value="8">8am</option>
      <option value="9">9am</option>
      <option value="10">10am</option>
      <option value="11">11am</option>
      <option value="12">12pm</option>
      <option value="13">1pm</option>
      <option value="14">2pm</option>
      <option value="15">3pm</option>
      <option value="16">4pm</option>
      <option value="17">5pm</option>
      <option value="18">6pm</option>
      <option value="19">7pm</option>
      <option value="20">8pm</option>
      <option value="21">9pm</option>
      <option value="22">10pm</option>
      <option value="23">11pm</option>
      <option value="24">12am</option>
    </select>
  </div>

  <%= f.input :booking_url %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <footer>
    <%= f.submit 'Updayt', class: "btn next-btn" %>
  </footer>
<% end %>
