
<% trip_dayt =  TripDayt.new %>
<%= simple_form_for [trip, trip_dayt],
html: {
  class: 'decline',
data: { action: "submit->trip-dayt#create" }


} do |f| %>
<%= f.hidden_field :dayt_id, value: dayt.id  %>
<%= f.hidden_field :status, value: 'declined' %>
<button><i class="fas fa-regular fa-xmark"></i></button>
<% end %>
<%= simple_form_for [trip, trip_dayt],
html: {

  class: 'accept',
data: { action: "submit->trip-dayt#create" }

} do |f| %>
<%= f.hidden_field :dayt_id, value: dayt.id  %>
<%= f.hidden_field :status, value: 'accepted'  %>
<button><i class="fa-regular fa-heart"></i></button>
<% end %>

<%= link_to dayt_path(dayt) do %>
  <%= cl_image_tag dayt.photos.first.key %>
  <div class="card-blue">
    <h2><%= dayt.title %></h2>
    <div class="text_cards">
      <p><i class="fa-solid fa-location-dot">&#8194;</i><%= dayt.location %></p>
      <div class="d-flex">
        <div class="w-50">
          <i class="fa-solid fa-clock">&#8194;</i><%= dayt.duration.to_i %>&#8194;hours
        </div>
        <div class="w-50">
          <i class="fa-solid fa-dollar-sign">&#8194;</i><%= dayt.price > 0 ? "#{dayt.price.to_i} per person" : 'Free' %>&#8194;
        </div>
      </div>
    </div>
    <% end %>
  </div>
