<div class='container'>
<% @dayts.each do |dayt| %>
  <%= dayt.title %>
  <%= dayt.content %>
  <%= dayt.price %>
  <% dayt.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<%= render "mapbox" %>
</div>
