<div data-controller='show-hide' class='bg-index'>
  <div class="slider-container" >
    <div class="slider" data-show-hide-target="slider">

      <div class="slidee">
        <div class="text-background">
          <h3>Out of dayts...</h3>
          <h3>Press next to organise</h3>
        </div>
        <div class="swiper" data-controller='swiper'>
          <div class="swiper-wrapper">
            <% @dayts.first(6).each do |dayt|  %>

              <%= render 'slide', dayt: dayt, trip: @trip %>

            <% end %>
          </div>
        </div>
      </div>

      <div class="slidee slidee-map">
        <%= render "shared/hidden_mapbox" %>
      </div>

    </div>
  </div>


  <footer>
    <button class='btn map-btn btn-width' data-action='click->show-hide#toggle'>Map</button>
    <%= link_to "Next", itinerary_path(@trip), class: "btn next-btn btn-width" %>
  </footer>
</div>

<div class="progress shadow-lg">
  <div role="progressbar" class="progress-bar
  <%= 'bg-warning' if @trip_duration * 12.5 >= 70 %>
  <%= 'bg-danger' if @trip_duration * 12.5 == 100 %>"
   style="width: <%= @trip_duration * 12.5 %>%">
    <div><span id='time-added'><%= @trip_duration.to_i %></span>h</div>
  </div>

  <% if @trip_duration.to_i < 8 %>
  <div class="w-100 d-flex justify-content-end pe-1 time-left"><span id='time-left'><%= 8 - @trip_duration.to_i %></span>h left</div>
  <% end %>
</div>
