<div data-controller='show-hide' class='bg-index'>
  <div class="slider-container" >
    <div class="slider" data-show-hide-target="slider">

      <div class="slidee">
        <div class="swiper" data-controller='swiper'>
          <div class="swiper-wrapper">
            <% @dayts.first(6).each do |dayt|  %>

              <%= render 'slide', dayt: dayt, trip: @trip %>

            <% end %>
          </div>
        </div>
      </div>

      <div class="slidee slidee-map">
        <%= render "shared/hidden_mapbox" %>
      </div>

    </div>
  </div>


  <footer>
    <button class='btn map-btn btn-width' data-action='click->show-hide#toggle'>Map</button>
    <%= link_to "Next", itinerary_path(@trip), class: "btn next-btn btn-width" %>
  </footer>
</div>

<div class="progress shadow-lg">
  <div class="progress-bar <%= 'bg-warning' if @trip_duration * 12.5 >= 70 %> <%= 'bg-danger' if @trip_duration * 12.5 == 100 %>" role="progressbar" style="width: <%= @trip_duration * 10 %>%"></div>
</div>
