<!DOCTYPE html>
<html>
  <head>
    <title>DaytApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
 <% if current_page?(controller: "pages", action: "home") %>
    <%= render 'shared/nav_home' %>
 <% else %>
    <%= render 'shared/navbar' %>
 <% end %>

    <%= render 'shared/flashes' %>

    <div class="container">
      <%= yield %>
    </div>

    <%# render 'layouts/card' %>
    <%# render 'layouts/footer' %>
    <%= render 'shared/organise' %>     <%# this is to test sortablejs  %>
  </body>
</html>
