<!DOCTYPE html>
<html>
  <head>
    <title>DaytApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
    <%= favicon_link_tag %>

  </head>

  <body>
 <%# <% if current_page?(controller: "pages", action: "home") %>
    <%# render 'shared/nav_home' %>
 <%# else %>
    <%= render 'shared/navbar' %>
 <%# end %>

    <%= render 'shared/flashes' %>

      <%= yield %>

    <%# render 'layouts/card' %>
    <%# render 'layouts/footer' %>

    <%# render 'shared/organise' %>     <%# this is to test sortablejs  %>
  <script src="https://kit.fontawesome.com/7b8fdf30c4.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>
